<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.ecommerce.mapper.AttributeMapper">

    <select id="queryCount" resultType="java.lang.Integer" parameterType="com.fh.ecommerce.uitl.BookParamsVO" >
        select COUNT(*) from t_attribute where isDel=0
        <if test="name!=null and name!=''">
            and name=#{name}
        </if>

    </select>
    <select id="queryDataByParams" resultType="com.fh.ecommerce.model.PinpaiAndAtrr" parameterType="com.fh.ecommerce.uitl.BookParamsVO" >
        select att.*,c.name as Fenleiname from t_attribute att left join t_class c on
        att.typeId = c.id
        where att.isDel=0
        <if test="name!=null and name!=''">
            and att.name=#{name}
        </if>
    </select>
    <insert id="addBook" parameterType="com.fh.ecommerce.model.Attribute">
insert into t_attribute (name,nameCH,typeId,type,isSKU,isDel,createDate,updateDate,author) value
(#{name},#{nameCH},#{typeId},#{type},#{isSKU},#{isDel},SYSDATE(),SYSDATE(),#{author})
    </insert>
    <update id="update" parameterType="com.fh.ecommerce.model.Attribute" >

update  t_attribute set name=#{name} ,nameCH=#{nameCH},typeId=#{typeId} ,type=#{type} ,isSKU=#{isSKU}
,isDel=#{isDel} ,author=#{author} ,updateDate=SYSDATE()
where id=#{id}

    </update>
    <update id="delect" parameterType="java.lang.Integer">
        update  t_attribute set isdel=1 where id=#{id}
    </update>
</mapper>
