<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.ecommerce.mapper.ClassifyMapper">

<select id="queryZtree" resultType="map" >
select *from t_class where isDel=0
</select>

    <select id="queryZtrees" resultType="map" >
select *from t_class
</select>

    <!--查询指定pid的数据  -->
    <select id="queryDeptbypid" resultType="com.fh.ecommerce.model.Classify" parameterType="java.lang.Integer">
select *from t_class where pid =#{pids}
</select>
    <!--新增-->
    <insert id="add"  useGeneratedKeys="true" keyProperty="id" parameterType="com.fh.ecommerce.model.Classify">


        insert into t_class (pid,name,createDate,isDel)values (#{pid},#{name},SYSDATE(),#{isDel})
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.fh.ecommerce.model.Classify">
update  t_class set name=#{name} ,pid=#{pid},isDel=#{isDel} ,updateDate=SYSDATE() where id=#{id}

    </update>
</mapper>
